In [24]:
#Import dependencies
import pandas as pd
import sqlite3
import sys

In [25]:
#Assign database file to a variable
db_file = "Data/crimedata.db"

#Connect to database file
conn = sqlite3.connect(db_file)

In [26]:
#Query the la crime data table and put into a pandas dataframe
crime_df = pd.read_sql_query("select * from la_crime_1718;", conn)
crime_df.head()

,DRNumber,DateReported,DateOccurred,TimeOccurred,AreaID,AreaName,ReportingDistrict,CrimeCode,CrimeCodeDescription,MOCodes,...,WeaponDescription,StatusCode,StatusDescription,CrimeCode1,CrimeCode2,CrimeCode3,CrimeCode4,Address,CrossStreet,Location
0,170209449,4/22/2017,4/21/2017,1930,2,Rampart,201,510,VEHICLE - STOLEN,,...,,IC,Invest Cont,510,,,,ALEXANDRIA,ROMAINE,"(34.0886, -118.2979)"
1,170206243,2/14/2017,2/11/2017,1700,2,Rampart,275,510,VEHICLE - STOLEN,,...,,IC,Invest Cont,510,,,,OLYMPIC,WESTLAKE,"(34.0512, -118.2787)"
2,170311599,4/25/2017,4/25/2017,0745,3,Southwest,325,510,VEHICLE - STOLEN,,...,,IC,Invest Cont,510,,,,VERMONT,ADAMS,"(34.0328, -118.2915)"
3,170408264,4/7/2017,4/7/2017,0001,4,Hollenbeck,421,510,VEHICLE - STOLEN,,...,,IC,Invest Cont,510,,,,ALHAMBRA,VALLEY,"(34.0676, -118.2202)"
4,170508584,4/10/2017,4/8/2017,0730,5,Harbor,566,510,VEHICLE - STOLEN,,...,,IC,Invest Cont,510,,,,10TH,CENTURY,"(33.7347, -118.2842)"

In [27]:
#Query the la weather history data table and put into a pandas dataframe
weather_df = pd.read_sql_query("select * from LA_weather_history_2016_to_2018;", conn)
weather_df.head()

,dt_iso,hour,temp,temp_min,temp_max,pressure,humidity,wind_speed,wind_deg,rain_1h,rain_3h,clouds_all,weather_id,weather_description,weather_main
0,1/1/2016,01,288.14,281.15,292.15,1018,22,5,260,,,1,800,clear sky,Clear
1,1/1/2016,03,284.27,275.15,289.15,1018,21,1,310,,,1,800,clear sky,Clear
2,1/1/2016,05,283.38,274.15,287.15,1019,34,2,20,,,1,800,clear sky,Clear
3,1/1/2016,06,282,272.59,286.15,1019,32,1,16,,,1,800,clear sky,Clear
4,1/1/2016,07,280.74,270.93,285.15,1019,32,1,18,,,1,721,haze,Haze

In [28]:
#Merge the weather history with the crime data

#First, strip the first two digits of the time occured column so that we can match it up with the weather

crime_df['hour'] = crime_df['TimeOccurred'].str.slice(0,2)
crime_df.head()

,DRNumber,DateReported,DateOccurred,TimeOccurred,AreaID,AreaName,ReportingDistrict,CrimeCode,CrimeCodeDescription,MOCodes,...,StatusCode,StatusDescription,CrimeCode1,CrimeCode2,CrimeCode3,CrimeCode4,Address,CrossStreet,Location,hour
0,170209449,4/22/2017,4/21/2017,1930,2,Rampart,201,510,VEHICLE - STOLEN,,...,IC,Invest Cont,510,,,,ALEXANDRIA,ROMAINE,"(34.0886, -118.2979)",19
1,170206243,2/14/2017,2/11/2017,1700,2,Rampart,275,510,VEHICLE - STOLEN,,...,IC,Invest Cont,510,,,,OLYMPIC,WESTLAKE,"(34.0512, -118.2787)",17
2,170311599,4/25/2017,4/25/2017,0745,3,Southwest,325,510,VEHICLE - STOLEN,,...,IC,Invest Cont,510,,,,VERMONT,ADAMS,"(34.0328, -118.2915)",07
3,170408264,4/7/2017,4/7/2017,0001,4,Hollenbeck,421,510,VEHICLE - STOLEN,,...,IC,Invest Cont,510,,,,ALHAMBRA,VALLEY,"(34.0676, -118.2202)",00
4,170508584,4/10/2017,4/8/2017,0730,5,Harbor,566,510,VEHICLE - STOLEN,,...,IC,Invest Cont,510,,,,10TH,CENTURY,"(33.7347, -118.2842)",07

In [29]:
new_df = pd.merge(crime_df, weather_df, left_on=['DateOccurred', 'hour'], right_on=['dt_iso', 'hour'])
new_df.head()

,DRNumber,DateReported,DateOccurred,TimeOccurred,AreaID,AreaName,ReportingDistrict,CrimeCode,CrimeCodeDescription,MOCodes,...,pressure,humidity,wind_speed,wind_deg,rain_1h,rain_3h,clouds_all,weather_id,weather_description,weather_main
0,170209449,4/22/2017,4/21/2017,1930,2,Rampart,201,510,VEHICLE - STOLEN,,...,1013,24,1,22,,,1,800,clear sky,Clear
1,170112214,4/21/2017,4/21/2017,1915,1,Central,153,440,THEFT PLAIN - PETTY ($950 & UNDER),344,...,1013,24,1,22,,,1,800,clear sky,Clear
2,170209474,4/22/2017,4/21/2017,1930,2,Rampart,237,330,BURGLARY FROM VEHICLE,0344 1606,...,1013,24,1,22,,,1,800,clear sky,Clear
3,170209491,4/23/2017,4/21/2017,1900,2,Rampart,241,420,THEFT FROM MOTOR VEHICLE - PETTY ($950 & UNDER),,...,1013,24,1,22,,,1,800,clear sky,Clear
4,170311385,4/21/2017,4/21/2017,1905,3,Southwest,319,480,BIKE - STOLEN,1251 0344 1822 1402,...,1013,24,1,22,,,1,800,clear sky,Clear

In [30]:
#Drop columns from the dataframe that will not be needed in our ML models

model_df = new_df.drop(['DRNumber', 'DateReported', 'DateOccurred', 'AreaName', 'CrimeCodeDescription', 'MOCodes',
                       'PremiseDescription', 'weather_description', 'weather_main', 'rain_1h', 'rain_3h'],
                     axis=1)
model_df.head()

,TimeOccurred,AreaID,ReportingDistrict,CrimeCode,VictimAge,VictimSex,VictimDescent,PremiseCode,WeaponUsedCode,WeaponDescription,...,dt_iso,temp,temp_min,temp_max,pressure,humidity,wind_speed,wind_deg,clouds_all,weather_id
0,1930,2,201,510,16,,,101,,,...,4/21/2017,300.09,295.15,304.15,1013,24,1,22,1,800
1,1915,1,153,440,48,F,W,502,,,...,4/21/2017,300.09,295.15,304.15,1013,24,1,22,1,800
2,1930,2,237,330,29,M,H,101,,,...,4/21/2017,300.09,295.15,304.15,1013,24,1,22,1,800
3,1900,2,241,420,16,,,101,,,...,4/21/2017,300.09,295.15,304.15,1013,24,1,22,1,800
4,1905,3,319,480,21,M,W,108,,,...,4/21/2017,300.09,295.15,304.15,1013,24,1,22,1,800

In [31]:
model_df = model_df.drop(['WeaponDescription', 'VictimSex', 'VictimDescent', 'StatusCode', 'StatusDescription',
                         'Address', 'CrossStreet', 'CrimeCode1', 'CrimeCode2', 'CrimeCode3', 'CrimeCode4','dt_iso'], axis=1)
model_df.head()

,TimeOccurred,AreaID,ReportingDistrict,CrimeCode,VictimAge,PremiseCode,WeaponUsedCode,Location,hour,temp,temp_min,temp_max,pressure,humidity,wind_speed,wind_deg,clouds_all,weather_id
0,1930,2,201,510,16,101,,"(34.0886, -118.2979)",19,300.09,295.15,304.15,1013,24,1,22,1,800
1,1915,1,153,440,48,502,,"(34.0467, -118.252)",19,300.09,295.15,304.15,1013,24,1,22,1,800
2,1930,2,237,330,29,101,,"(34.0646, -118.2656)",19,300.09,295.15,304.15,1013,24,1,22,1,800
3,1900,2,241,420,16,101,,"(34.0671, -118.2806)",19,300.09,295.15,304.15,1013,24,1,22,1,800
4,1905,3,319,480,21,108,,"(34.0288, -118.2756)",19,300.09,295.15,304.15,1013,24,1,22,1,800

In [32]:
model_small_df = model_df.loc[model_df['CrimeCode'].isin(['420', '210', '230', '626', '740',
 '310', '510', '440', '330', '624'])]
model_small_df.head()

,TimeOccurred,AreaID,ReportingDistrict,CrimeCode,VictimAge,PremiseCode,WeaponUsedCode,Location,hour,temp,temp_min,temp_max,pressure,humidity,wind_speed,wind_deg,clouds_all,weather_id
0,1930,2,201,510,16,101,,"(34.0886, -118.2979)",19,300.09,295.15,304.15,1013,24,1,22,1,800
1,1915,1,153,440,48,502,,"(34.0467, -118.252)",19,300.09,295.15,304.15,1013,24,1,22,1,800
2,1930,2,237,330,29,101,,"(34.0646, -118.2656)",19,300.09,295.15,304.15,1013,24,1,22,1,800
3,1900,2,241,420,16,101,,"(34.0671, -118.2806)",19,300.09,295.15,304.15,1013,24,1,22,1,800
7,1930,6,642,420,16,101,,"(34.0981, -118.3577)",19,300.09,295.15,304.15,1013,24,1,22,1,800

In [39]:
#COnvert the datatype of each column to numeric for machine learning
model_small_df['TimeOccurred'] = model_small_df['TimeOccurred'].apply(pd.to_numeric, errors='coerce')
model_small_df['AreaID'] = model_small_df['AreaID'].apply(pd.to_numeric, errors='coerce')
model_small_df['CrimeCode'] = model_small_df['CrimeCode'].apply(pd.to_numeric, errors='coerce')
model_small_df['ReportingDistrict'] = model_small_df['ReportingDistrict'].apply(pd.to_numeric, errors='coerce')
model_small_df['VictimAge'] = model_small_df['VictimAge'].apply(pd.to_numeric, errors='coerce')
model_small_df['PremiseCode'] = model_small_df['PremiseCode'].apply(pd.to_numeric, errors='coerce')
model_small_df['WeaponUsedCode'] = model_small_df['WeaponUsedCode'].apply(pd.to_numeric, errors='coerce')
model_small_df['Location'] = model_small_df['Location'].apply(pd.to_numeric, errors='coerce')
model_small_df['hour'] = model_small_df['hour'].apply(pd.to_numeric, errors='coerce')
model_small_df['temp'] = model_small_df['temp'].apply(pd.to_numeric, errors='coerce')
model_small_df['temp_min'] = model_small_df['temp_min'].apply(pd.to_numeric, errors='coerce')
model_small_df['temp_max'] = model_small_df['temp_max'].apply(pd.to_numeric, errors='coerce')
model_small_df['pressure'] = model_small_df['pressure'].apply(pd.to_numeric, errors='coerce')
model_small_df['humidity'] = model_small_df['humidity'].apply(pd.to_numeric, errors='coerce')
model_small_df['wind_speed'] = model_small_df['wind_speed'].apply(pd.to_numeric, errors='coerce')
model_small_df['wind_deg'] = model_small_df['wind_deg'].apply(pd.to_numeric, errors='coerce')
model_small_df['clouds_all'] = model_small_df['clouds_all'].apply(pd.to_numeric, errors='coerce')
model_small_df['weather_id'] = model_small_df['weather_id'].apply(pd.to_numeric, errors='coerce')


print(model_small_df.dtypes)
model_small_df

C:\Users\stefa\Anaconda3\envs\pythondata\lib\site-packages\ipykernel\__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app
C:\Users\stefa\Anaconda3\envs\pythondata\lib\site-packages\ipykernel\__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()
C:\Users\stefa\Anaconda3\envs\pythondata\lib\site-packages\ipykernel\__main__.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\stefa\Anaconda3\envs\pythondata\lib\site-packages\ipykernel\__main__.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\stefa\Anaconda3\envs\pythondata\lib\site-packages\ipykernel\__main__.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\stefa\Anaconda3\envs\pythondata\lib\site-packages\ipykernel\__main__.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\stefa\Anaconda3\envs\pythondata\lib\site-packages\ipykernel\__main__.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\stefa\Anaconda3\envs\pythondata\lib\site-packages\ipykernel\__main__.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\stefa\Anaconda3\envs\pythondata\lib\site-packages\ipykernel\__main__.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\stefa\Anaconda3\envs\pythondata\lib\site-packages\ipykernel\__main__.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\stefa\Anaconda3\envs\pythondata\lib\site-packages\ipykernel\__main__.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\stefa\Anaconda3\envs\pythondata\lib\site-packages\ipykernel\__main__.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\stefa\Anaconda3\envs\pythondata\lib\site-packages\ipykernel\__main__.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\stefa\Anaconda3\envs\pythondata\lib\site-packages\ipykernel\__main__.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\stefa\Anaconda3\envs\pythondata\lib\site-packages\ipykernel\__main__.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\stefa\Anaconda3\envs\pythondata\lib\site-packages\ipykernel\__main__.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\stefa\Anaconda3\envs\pythondata\lib\site-packages\ipykernel\__main__.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

TimeOccurred           int64
AreaID                 int64
ReportingDistrict      int64
CrimeCode              int64
VictimAge            float64
PremiseCode            int64
WeaponUsedCode       float64
Location             float64
hour                   int64
temp                 float64
temp_min             float64
temp_max             float64
pressure               int64
humidity               int64
wind_speed             int64
wind_deg               int64
clouds_all             int64
weather_id             int64
dtype: object

C:\Users\stefa\Anaconda3\envs\pythondata\lib\site-packages\ipykernel\__main__.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,TimeOccurred,AreaID,ReportingDistrict,CrimeCode,VictimAge,PremiseCode,WeaponUsedCode,Location,hour,temp,temp_min,temp_max,pressure,humidity,wind_speed,wind_deg,clouds_all,weather_id
0,1930,2,201,510,16.0,101,NaN,NaN,19,300.09,295.15,304.15,1013,24,1,22,1,800
1,1915,1,153,440,48.0,502,NaN,NaN,19,300.09,295.15,304.15,1013,24,1,22,1,800
2,1930,2,237,330,29.0,101,NaN,NaN,19,300.09,295.15,304.15,1013,24,1,22,1,800
3,1900,2,241,420,16.0,101,NaN,NaN,19,300.09,295.15,304.15,1013,24,1,22,1,800
7,1930,6,642,420,16.0,101,NaN,NaN,19,300.09,295.15,304.15,1013,24,1,22,1,800
8,1925,7,713,740,29.0,122,NaN,NaN,19,300.09,295.15,304.15,1013,24,1,22,1,800
9,1920,7,785,740,61.0,122,NaN,NaN,19,300.09,295.15,304.15,1013,24,1,22,1,800
10,1900,8,836,310,64.0,502,NaN,NaN,19,300.09,295.15,304.15,1013,24,1,22,1,800
11,1900,8,851,740,25.0,122,NaN,NaN,19,300.09,295.15,304.15,1013,24,1,22,1,800
12,1900,9,932,440,35.0,108,NaN,NaN,19,300.09,295.15,304.15,1013,24,1,22,1,800
13,1930,9,971,440,16.0,210,NaN,NaN,19,300.09,295.15,304.15,1013,24,1,22,1,800
16,1905,3,379,626,32.0,502,400.0,NaN,19,300.09,295.15,304.15,1013,24,1,22,1,800
17,1700,2,275,510,16.0,101,NaN,NaN,17,287.39,285.15,289.15,1019,87,3,250,90,521
18,1700,2,215,230,22.0,102,400.0,NaN,17,287.39,285.15,289.15,1019,87,3,250,90,521
19,1740,2,281,740,47.0,101,NaN,NaN,17,287.39,285.15,289.15,1019,87,3,250,90,521
20,1700,3,357,624,42.0,502,400.0,NaN,17,287.39,285.15,289.15,1019,87,3,250,90,521
21,1700,3,395,440,20.0,501,NaN,NaN,17,287.39,285.15,289.15,1019,87,3,250,90,521
22,1720,4,426,626,71.0,501,400.0,NaN,17,287.39,285.15,289.15,1019,87,3,250,90,521
24,1700,5,506,740,45.0,122,NaN,NaN,17,287.39,285.15,289.15,1019,87,3,250,90,521
25,1700,5,558,740,38.0,122,NaN,NaN,17,287.39,285.15,289.15,1019,87,3,250,90,521
27,1700,6,639,440,55.0,402,NaN,NaN,17,287.39,285.15,289.15,1019,87,3,250,90,521
28,1745,6,645,330,29.0,123,NaN,NaN,17,287.39,285.15,289.15,1019,87,3,250,90,521
29,1730,9,935,626,42.0,502,400.0,NaN,17,287.39,285.15,289.15,1019,87,3,250,90,521
31,1745,8,841,330,31.0,203,NaN,NaN,17,287.39,285.15,289.15,1019,87,3,250,90,521
32,745,3,325,510,16.0,101,NaN,NaN,7,288.56,286.15,291.15,1012,77,1,250,1,800
35,700,6,645,740,53.0,501,NaN,NaN,7,288.56,286.15,291.15,1012,77,1,250,1,800
37,1,4,421,510,16.0,101,NaN,NaN,0,293.45,289.15,300.15,1015,77,5,250,1,800
40,1,4,439,510,16.0,101,NaN,NaN,0,293.45,289.15,300.15,1015,77,5,250,1,800
42,1,4,424,440,NaN,404,NaN,NaN,0,293.45,289.15,300.15,1015,77,5,250,1,800
44,35,6,659,440,31.0,301,NaN,NaN,0,293.45,289.15,300.15,1015,77,5,250,1,800
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
213687,1930,6,666,210,50.0,101,207.0,NaN,19,285.65,285.15,286.45,1026,22,1,7,1,800
213688,1915,7,789,210,17.0,401,102.0,NaN,19,285.65,285.15,286.45,1026,22,1,7,1,800
213689,1935,7,765,624,54.0,203,400.0,NaN,19,285.65,285.15,286.45,1026,22,1,7,1,800
213692,1915,9,971,310,30.0,501,500.0,NaN,19,285.65,285.15,286.45,1026,22,1,7,1,800
213693,1900,9,989,330,52.0,108,NaN,NaN,19,285.65,285.15,286.45,1026,22,1,7,1,800
213694,1915,3,312,420,67.0,301,NaN,NaN,19,285.65,285.15,286.45,1026,22,1,7,1,800
213695,10,3,329,210,28.0,210,400.0,NaN,0,289.49,288.75,290.35,1014,57,0,205,1,800
213696,30,5,564,230,25.0,101,102.0,NaN,0,289.49,288.75,290.35,1014,57,0,205,1,800
213699,1,6,636,740,55.0,707,NaN,NaN,0,289.49,288.75,290.35,1014,57,0,205,1,800
213704,900,3,374,420,17.0,101,NaN,NaN,9,279.40,277.85,280.95,1024,50,1,30,1,800
213705,902,8,854,440,43.0,702,NaN,NaN,9,279.40,277.85,280.95,1024,50,1,30,1,800
213707,2000,4,473,230,64.0,501,205.0,NaN,20,288.02,287.05,288.75,1018,15,1,280,1,800
213708,2030,6,645,440,17.0,203,NaN,NaN,20,288.02,287.05,288.75,1018,15,1,280,1,800
213709,2010,3,325,210,20.0,108,102.0,NaN,20,288.02,287.05,288.75,1018,15,1,280,1,800
213710,2100,4,449,510,17.0,104,NaN,NaN,21,289.79,289.15,290.35,1015,31,1,0,1,800
213711,2130,4,427,510,17.0,101,NaN,NaN,21,289.79,289.15,290.35,1015,31,1,0,1,800
213715,2130,6,622,510,17.0,101,NaN,NaN,21,289.79,289.15,290.35,1015,31,1,0,1,800
213716,2115,8,858,330,29.0,101,NaN,NaN,21,289.79,289.15,290.35,1015,31,1,0,1,800
213717,300,6,648,330,28.0,108,NaN,NaN,3,285.58,283.15,287.55,1021,16,2,22,1,800
213719,350,9,906,310,NaN,244,NaN,NaN,3,285.58,283.15,287.55,1021,16,2,22,1,800
213720,300,8,849,330,40.0,108,NaN,NaN,3,285.58,283.15,287.55,1021,16,2,22,1,800
213722,500,6,643,330,55.0,502,NaN,NaN,5,286.80,285.15,288.15,1020,90,1,25,1,701
213723,500,6,649,740,29.0,502,211.0,NaN,5,286.80,285.15,288.15,1020,90,1,25,1,701
213724,1300,6,639,440,48.0,501,NaN,NaN,13,278.78,277.35,280.35,1020,59,1,17,1,800
213731,1330,13,1309,330,21.0,101,NaN,NaN,13,278.78,277.35,280.35,1020,59,1,17,1,800
213732,1320,20,2005,230,43.0,101,102.0,NaN,13,278.78,277.35,280.35,1020,59,1,17,1,800
213733,1335,3,314,624,40.0,502,400.0,NaN,13,278.78,277.35,280.35,1020,59,1,17,1,800
213737,800,7,764,626,22.0,501,400.0,NaN,8,280.54,277.85,284.25,1023,43,1,30,1,800
213738,800,9,974,440,70.0,501,NaN,NaN,8,280.54,277.85,284.25,1023,43,1,30,1,800
213739,825,1,147,626,56.0,102,400.0,NaN,8,280.54,277.85,284.25,1023,43,1,30,1,800

In [40]:
model_small_df = model_small_df.fillna(0)
model_small_df.head()

,TimeOccurred,AreaID,ReportingDistrict,CrimeCode,VictimAge,PremiseCode,WeaponUsedCode,Location,hour,temp,temp_min,temp_max,pressure,humidity,wind_speed,wind_deg,clouds_all,weather_id
0,1930,2,201,510,16.0,101,0.0,0.0,19,300.09,295.15,304.15,1013,24,1,22,1,800
1,1915,1,153,440,48.0,502,0.0,0.0,19,300.09,295.15,304.15,1013,24,1,22,1,800
2,1930,2,237,330,29.0,101,0.0,0.0,19,300.09,295.15,304.15,1013,24,1,22,1,800
3,1900,2,241,420,16.0,101,0.0,0.0,19,300.09,295.15,304.15,1013,24,1,22,1,800
7,1930,6,642,420,16.0,101,0.0,0.0,19,300.09,295.15,304.15,1013,24,1,22,1,800

In [41]:
model_small_df.reset_index()

,index,TimeOccurred,AreaID,ReportingDistrict,CrimeCode,VictimAge,PremiseCode,WeaponUsedCode,Location,hour,temp,temp_min,temp_max,pressure,humidity,wind_speed,wind_deg,clouds_all,weather_id
0,0,1930,2,201,510,16.0,101,0.0,0.0,19,300.09,295.15,304.15,1013,24,1,22,1,800
1,1,1915,1,153,440,48.0,502,0.0,0.0,19,300.09,295.15,304.15,1013,24,1,22,1,800
2,2,1930,2,237,330,29.0,101,0.0,0.0,19,300.09,295.15,304.15,1013,24,1,22,1,800
3,3,1900,2,241,420,16.0,101,0.0,0.0,19,300.09,295.15,304.15,1013,24,1,22,1,800
4,7,1930,6,642,420,16.0,101,0.0,0.0,19,300.09,295.15,304.15,1013,24,1,22,1,800
5,8,1925,7,713,740,29.0,122,0.0,0.0,19,300.09,295.15,304.15,1013,24,1,22,1,800
6,9,1920,7,785,740,61.0,122,0.0,0.0,19,300.09,295.15,304.15,1013,24,1,22,1,800
7,10,1900,8,836,310,64.0,502,0.0,0.0,19,300.09,295.15,304.15,1013,24,1,22,1,800
8,11,1900,8,851,740,25.0,122,0.0,0.0,19,300.09,295.15,304.15,1013,24,1,22,1,800
9,12,1900,9,932,440,35.0,108,0.0,0.0,19,300.09,295.15,304.15,1013,24,1,22,1,800
10,13,1930,9,971,440,16.0,210,0.0,0.0,19,300.09,295.15,304.15,1013,24,1,22,1,800
11,16,1905,3,379,626,32.0,502,400.0,0.0,19,300.09,295.15,304.15,1013,24,1,22,1,800
12,17,1700,2,275,510,16.0,101,0.0,0.0,17,287.39,285.15,289.15,1019,87,3,250,90,521
13,18,1700,2,215,230,22.0,102,400.0,0.0,17,287.39,285.15,289.15,1019,87,3,250,90,521
14,19,1740,2,281,740,47.0,101,0.0,0.0,17,287.39,285.15,289.15,1019,87,3,250,90,521
15,20,1700,3,357,624,42.0,502,400.0,0.0,17,287.39,285.15,289.15,1019,87,3,250,90,521
16,21,1700,3,395,440,20.0,501,0.0,0.0,17,287.39,285.15,289.15,1019,87,3,250,90,521
17,22,1720,4,426,626,71.0,501,400.0,0.0,17,287.39,285.15,289.15,1019,87,3,250,90,521
18,24,1700,5,506,740,45.0,122,0.0,0.0,17,287.39,285.15,289.15,1019,87,3,250,90,521
19,25,1700,5,558,740,38.0,122,0.0,0.0,17,287.39,285.15,289.15,1019,87,3,250,90,521
20,27,1700,6,639,440,55.0,402,0.0,0.0,17,287.39,285.15,289.15,1019,87,3,250,90,521
21,28,1745,6,645,330,29.0,123,0.0,0.0,17,287.39,285.15,289.15,1019,87,3,250,90,521
22,29,1730,9,935,626,42.0,502,400.0,0.0,17,287.39,285.15,289.15,1019,87,3,250,90,521
23,31,1745,8,841,330,31.0,203,0.0,0.0,17,287.39,285.15,289.15,1019,87,3,250,90,521
24,32,745,3,325,510,16.0,101,0.0,0.0,7,288.56,286.15,291.15,1012,77,1,250,1,800
25,35,700,6,645,740,53.0,501,0.0,0.0,7,288.56,286.15,291.15,1012,77,1,250,1,800
26,37,1,4,421,510,16.0,101,0.0,0.0,0,293.45,289.15,300.15,1015,77,5,250,1,800
27,40,1,4,439,510,16.0,101,0.0,0.0,0,293.45,289.15,300.15,1015,77,5,250,1,800
28,42,1,4,424,440,0.0,404,0.0,0.0,0,293.45,289.15,300.15,1015,77,5,250,1,800
29,44,35,6,659,440,31.0,301,0.0,0.0,0,293.45,289.15,300.15,1015,77,5,250,1,800
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
131434,213687,1930,6,666,210,50.0,101,207.0,0.0,19,285.65,285.15,286.45,1026,22,1,7,1,800
131435,213688,1915,7,789,210,17.0,401,102.0,0.0,19,285.65,285.15,286.45,1026,22,1,7,1,800
131436,213689,1935,7,765,624,54.0,203,400.0,0.0,19,285.65,285.15,286.45,1026,22,1,7,1,800
131437,213692,1915,9,971,310,30.0,501,500.0,0.0,19,285.65,285.15,286.45,1026,22,1,7,1,800
131438,213693,1900,9,989,330,52.0,108,0.0,0.0,19,285.65,285.15,286.45,1026,22,1,7,1,800
131439,213694,1915,3,312,420,67.0,301,0.0,0.0,19,285.65,285.15,286.45,1026,22,1,7,1,800
131440,213695,10,3,329,210,28.0,210,400.0,0.0,0,289.49,288.75,290.35,1014,57,0,205,1,800
131441,213696,30,5,564,230,25.0,101,102.0,0.0,0,289.49,288.75,290.35,1014,57,0,205,1,800
131442,213699,1,6,636,740,55.0,707,0.0,0.0,0,289.49,288.75,290.35,1014,57,0,205,1,800
131443,213704,900,3,374,420,17.0,101,0.0,0.0,9,279.40,277.85,280.95,1024,50,1,30,1,800
131444,213705,902,8,854,440,43.0,702,0.0,0.0,9,279.40,277.85,280.95,1024,50,1,30,1,800
131445,213707,2000,4,473,230,64.0,501,205.0,0.0,20,288.02,287.05,288.75,1018,15,1,280,1,800
131446,213708,2030,6,645,440,17.0,203,0.0,0.0,20,288.02,287.05,288.75,1018,15,1,280,1,800
131447,213709,2010,3,325,210,20.0,108,102.0,0.0,20,288.02,287.05,288.75,1018,15,1,280,1,800
131448,213710,2100,4,449,510,17.0,104,0.0,0.0,21,289.79,289.15,290.35,1015,31,1,0,1,800
131449,213711,2130,4,427,510,17.0,101,0.0,0.0,21,289.79,289.15,290.35,1015,31,1,0,1,800
131450,213715,2130,6,622,510,17.0,101,0.0,0.0,21,289.79,289.15,290.35,1015,31,1,0,1,800
131451,213716,2115,8,858,330,29.0,101,0.0,0.0,21,289.79,289.15,290.35,1015,31,1,0,1,800
131452,213717,300,6,648,330,28.0,108,0.0,0.0,3,285.58,283.15,287.55,1021,16,2,22,1,800
131453,213719,350,9,906,310,0.0,244,0.0,0.0,3,285.58,283.15,287.55,1021,16,2,22,1,800
131454,213720,300,8,849,330,40.0,108,0.0,0.0,3,285.58,283.15,287.55,1021,16,2,22,1,800
131455,213722,500,6,643,330,55.0,502,0.0,0.0,5,286.80,285.15,288.15,1020,90,1,25,1,701
131456,213723,500,6,649,740,29.0,502,211.0,0.0,5,286.80,285.15,288.15,1020,90,1,25,1,701
131457,213724,1300,6,639,440,48.0,501,0.0,0.0,13,278.78,277.35,280.35,1020,59,1,17,1,800
131458,213731,1330,13,1309,330,21.0,101,0.0,0.0,13,278.78,277.35,280.35,1020,59,1,17,1,800
131459,213732,1320,20,2005,230,43.0,101,102.0,0.0,13,278.78,277.35,280.35,1020,59,1,17,1,800
131460,213733,1335,3,314,624,40.0,502,400.0,0.0,13,278.78,277.35,280.35,1020,59,1,17,1,800
131461,213737,800,7,764,626,22.0,501,400.0,0.0,8,280.54,277.85,284.25,1023,43,1,30,1,800
131462,213738,800,9,974,440,70.0,501,0.0,0.0,8,280.54,277.85,284.25,1023,43,1,30,1,800
131463,213739,825,1,147,626,56.0,102,400.0,0.0,8,280.54,277.85,284.25,1023,43,1,30,1,800

In [42]:
# Assign X (data) and y (target) to put into model
X = model_small_df.drop("CrimeCode", axis=1)
y = model_small_df["CrimeCode"]
print(X.shape, y.shape)

(131464, 17) (131464,)

In [43]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [46]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression()
classifier

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [47]:
classifier.fit(X_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [49]:
print(f"Training Data Score: {classifier.score(X_train, y_train)}")
print(f"Testing Data Score: {classifier.score(X_test, y_test)}")

Training Data Score: 0.4349581127406235
Testing Data Score: 0.4332136554494006

In [50]:
predictions = classifier.predict(X_test)
print(f"First 10 Predictions:   {predictions[:10]}")
print(f"First 10 Actual labels: {y_test[:10].tolist()}")

First 10 Predictions:   [510 330 440 624 624 440 310 624 330 624]
First 10 Actual labels: [310, 330, 310, 210, 624, 440, 310, 230, 330, 624]